!!!

%html
  %head
    %title RASP iPhone API
    %style
      html { background: #2f71b0; }
      body { height: 100%; }
      h1 { background: url("images/rasp.png") center center no-repeat; height: 500px; }
      h1 span { display: none; }
  
  %body
    %h1
      %span RASP iPhone API