!!!

%html
  %head
    %title RASP iPhone API
    %style
      * { font-family: "Helvetica Neue"; color: #CCC; }
      body { background-color: #222; }
  %body
    %h1 RASP iPhone API

    %h2 Regions

    %ul
      - Stat.all(:sort => [[ :total_calls, :desc ]]).each do |stat|
        %li= "#{ "%04d" % stat.total_calls} #{stat.region}"
